@import "tailwindcss";

@theme {
  --color-bank-primary: #1e3a8a;
  --color-bank-secondary: #3b82f6;
  --color-bank-accent: #10b981;
  --color-bank-dark: #0f172a;
  --color-bank-light: #f8fafc;
}

body {
  background-color: var(--color-bank-light);
  color: var(--color-bank-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}